{% extends 'base.html' %}
{% block title %}工程目录{% endblock title %}
{% block styles %}
    {{ super() }}
    <!-- url_for函数，加载静态文件-->
    <link href="{{ url_for('static', filename='css/project.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" >
{% endblock styles %}
{% block navli %}
    <ul class="nav navbar-nav navbar-right">
        {% if session.is_login %}
            <li><a href="/">您好！{{ session.name }}</a></li>
            <li><a href="/logout">退出</a><li>
            {% else %}
            <li><a href="/">您好！</a></li>
            <li class="active"><a href="#">登录</a></li>
            <li><a href="/register">注册</a></li>
        {% endif %}
    </ul>


{% endblock navli %}
{% block content %}

    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    </div>
<!--     <form action="/project" method="post" class="form-project">
        <div class="form-group">
            <label for="train_database">数据集</label>
            <select class="form-control" id="train_database" name="database" placeholder="选择数据集" autofocus required>
                <option>mnist</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <div class="form-group">
            <label for="train_model">模型结构</label>
            <select class="form-control" id="train_model" name="model">
                <option>simplenet</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <div class="form-group">
            <button type="reset" class="btn btn-default pull-left">重置</button>
            <button type="submit" class="btn btn-primary pull-right">配置完成</button>
        </div>
    </form> -->

    <div class="container-fluid fold-project">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        <h1 style="text-align:center">配置文件</h1>
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
                <hr>


                <!--配置参数-->
                <form action="/project" method="post" class="form-project">     
                    <div class="form-group">
                        <label for="train_database" style="text-align:center">数据集</label>
                    <select class="form-control" id="train_database" name="database" placeholder="选择数据集" autofocus required>
                        <option>mnist</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                    </div>
                    <div class="form-group" style="text-align:center">
                        <label for="train_model">模型结构</label>
                            <select class="form-control" id="train_model" name="model">
                                <option>simplenet</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <input name="m" value=1 hidden>
                    </div>
                    <div class="form-group">
                        <button type="reset" class="btn btn-default pull-left">重置</button>
                        <button type="submit" class="btn btn-primary pull-right">配置完成</button>
                    <br></br>
                    </div>
                </form>
                </div>
            </div>




            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        <h1 style="text-align:center">分发预训练模型</h1>
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner form-group">
                        <br></br>
                        <font face="黑体" size="3">配置的数据集：{{flask_database}}|模型结构：{{flask_model}}</font>
                        <form action="/project" method="post" class="form-project">     
                            
                            <div class="form-group">
                                <label for="train_pretrain">{{flask_pre}}是否重新进行训练：</label>
                                    <select class="form-control" id="train_pretrain" name="pretrain" placeholder="请选择" autofocus required>
                                        <option>是</option>
                                        <option>否</option>
                                    </select>
                            </div>
<!--                             <div class="form-group">
                                <label for="train_model">模型结构</label>
                                    <select class="form-control" id="train_model" name="model">
                                        <option>simplenet</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                            </div> -->
                            <div class="form-group">
                                <input name="database" style="width: 310px;height:30px;" value="{{flask_database}}" hidden>
                                <input name="model" style="width: 310px;height:30px;" value="{{flask_model}}" hidden>
                                <input name="m" style="width: 310px;height:30px;" value="2" hidden>
                            </div>
                            <div class="form-group">
                                <button type="reset" class="btn btn-default pull-left">重置</button>
                                <button type="submit" class="btn btn-primary pull-right">开始预训练</button>
                            </div>
                            <br></br>
                        </form>
                    </div>
                    <div class="accordion-inner form-group">
                        <font face="黑体" size="3">模型正确率：{{flask_acc}}%|模型权重下载：</font>{{flask_model_download}}
                    <form action="/download1" method="post" class="form-project">     
                    <div class="form-group">
                                <input name="database"  value="{{flask_database}}" hidden>
                                <input name="model"  value="{{flask_model}}" hidden>
                            </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary pull-right">下载</button>
                    </div>
                    </form>




                    </div>
                </div>
            </div>




            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                        <h1 style="text-align:center">防御</h1>
                    </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </div>
            </div>

            


            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                        <h1 style="text-align:center">检测</h1>
                    </a>
                </div>
                <div id="collapseFour" class="accordion-body collapse">
                    <div class="accordion-inner form-group">
                        <br></br>
                        <font face="黑体" size="3">配置的数据集：{{flask_database}}|模型结构：{{flask_model}}</font>
                        <form action="/project" method="post" class="form-project">     
                            
                            <div class="form-group">
                                <label for="train_pretrain">轮数：<span id="check_epo_num"></span></label>
                                    <div class="slidecontainer">
                                        <input type="range" min="1" max="50" value="10" class="slider" id="check_epo" name="check_epo">
                                    </div>
                                <label for="train_pretrain">优化率：<span id="check_lr_num"></label>
                                    <div class="slidecontainer">
                                        <input type="text" value="0.1" οnkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" id="check_lr" name="check_lr">
                                    </div>
                            </div>
<!--                             <div class="form-group">
                                <label for="train_model">模型结构</label>
                                    <select class="form-control" id="train_model" name="model">
                                        <option>simplenet</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                            </div> -->
                            <div class="form-group">
                                <input name="database" style="width: 310px;height:30px;" value="{{flask_database}}" hidden>
                                <input name="model" style="width: 310px;height:30px;" value="{{flask_model}}" hidden>
                                <input name="m" style="width: 310px;height:30px;" value="3" hidden>
                            </div>
                            <div class="form-group">
                                <button type="reset" class="btn btn-default pull-left">重置</button>
                                <button type="submit" class="btn btn-primary pull-right">开始检测</button>
                            </div>
                            <br></br>
                        </form>
                    </div>

                    <div class="accordion-inner form-group">
                        <font face="黑体" size="3">检测结果：</font>
                        {{result1_text}}
                        <iframe name="content_frame" marginwidth=0 marginheight=0 width=100% height=1000 src="/result1" frameborder=0></iframe>
                    </form>





                    </div>
                </div>
            </div>


                        <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                        <h1 style="text-align:center">定位</h1>
                    </a>
                </div>
                <div id="collapseFive" class="accordion-body collapse">
                    <div class="accordion-inner form-group">
                        <br></br>
                        <font face="黑体" size="3">配置的数据集：{{flask_database}}|模型结构：{{flask_model}}</font>
                        <form action="/project" method="post" class="form-project">     
                            
                            <div class="form-group">
                                <label for="train_pretrain">请选择定位使用的图片数量：<span id="re_pic_num"></span></label>
                                    <div class="slidecontainer">
                                        <input type="range" min="1" max="1000" value="10" class="slider" id="re_pic" name="re_pic">
                                    </div>
                                <label for="train_pretrain">请输入要定位的目标标签号：<span id="re_target_num"></label>
                                    <div class="slidecontainer">
                                        <input type="number" value="0"  id="re_target" name="re_target">
                                    </div>
                            </div>
<!--                             <div class="form-group">
                                <label for="train_model">模型结构</label>
                                    <select class="form-control" id="train_model" name="model">
                                        <option>simplenet</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                            </div> -->
                            <div class="form-group">
                                <input name="database" style="width: 310px;height:30px;" value="{{flask_database}}" hidden>
                                <input name="model" style="width: 310px;height:30px;" value="{{flask_model}}" hidden>
                                <input name="m" style="width: 310px;height:30px;" value="4" hidden>
                            </div>
                            <div class="form-group">
                                <button type="reset" class="btn btn-default pull-left">重置</button>
                                <button type="submit" class="btn btn-primary pull-right">开始定位</button>
                            </div>
                            <br></br>
                        </form>
                    </div>

                    <div class="accordion-inner form-group">
                        <font face="黑体" size="3">定位结果：</font>
                        <iframe name="content_frame" marginwidth=0 marginheight=0 width=100% height=1000 src="/result2" frameborder=0></iframe>
                    </form>





                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                        <h1 style="text-align:center">逆向</h1>
                    </a>
                </div>
                <div id="collapseSix" class="accordion-body collapse">
                    <div class="accordion-inner form-group">
                        <br></br>
                        <font face="黑体" size="3">配置的数据集：{{flask_database}}|模型结构：{{flask_model}}</font>
                        <form action="/project" method="post" class="form-project">     
                            
                            <div class="form-group">
                                <label for="train_pretrain">请输入要逆向的目标标签号：<span id="re_target_num"></label>
                                    <div class="slidecontainer">
                                        <input type="number" value="0"  id="re_target" name="re_target">
                                    </div>
                                <label for="train_pretrain">优化率：<span id="re_lr_num"></label>
                                    <div class="slidecontainer">
                                        <input type="text" value="0.1" οnkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" id="re_lr" name="re_lr">
                                    </div>
                            </div>
<!--                             <div class="form-group">
                                <label for="train_model">模型结构</label>
                                    <select class="form-control" id="train_model" name="model">
                                        <option>simplenet</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                            </div> -->
                            <div class="form-group">
                                <input name="database" style="width: 310px;height:30px;" value="{{flask_database}}" hidden>
                                <input name="model" style="width: 310px;height:30px;" value="{{flask_model}}" hidden>
                                <input name="m" style="width: 310px;height:30px;" value="5" hidden>
                            </div>
                            <div class="form-group">
                                <button type="reset" class="btn btn-default pull-left">重置</button>
                                <button type="submit" class="btn btn-primary pull-right">开始逆向</button>
                            </div>
                            <br></br>
                        </form>
                    </div>

                    <div class="accordion-inner form-group">
                        <font face="黑体" size="3">逆向结果：</font>
                        <iframe name="content_frame" marginwidth=0 marginheight=0 width=100% height=1000 src="/result1" frameborder=0></iframe>
                    </form>





                    </div>
                </div>
            </div>




        </div>
    </div>

<script>
var check_epo = document.getElementById("check_epo");
var check_epo_num = document.getElementById("check_epo_num");
check_epo_num.innerHTML = check_epo.value;

check_epo.oninput = function() {
  check_epo_num.innerHTML = this.value;
}

var check_lr = document.getElementById("check_lr");
var check_lr_num = document.getElementById("check_lr_num");
check_lr_num.innerHTML = check_lr.value;

check_lr.oninput = function() {
  check_lr_num.innerHTML = this.value;
}

var re_pico = document.getElementById("re_pic");
var re_pic_num = document.getElementById("re_pic_num");
re_pic_num.innerHTML = re_pic.value;

re_pic.oninput = function() {
  re_pic_num.innerHTML = this.value;
}

var re_target = document.getElementById("re_target");
var re_target_num = document.getElementById("re_target_num");
re_target_num.innerHTML = re_target.value;

re_target.oninput = function() {
  re_target_num.innerHTML = this.value;
}

var re_lr = document.getElementById("re_lr");
var re_lr_num = document.getElementById("re_lr_num");
re_lr_num.innerHTML = re_lr.value;

re_lr.oninput = function() {
  re_lr_num.innerHTML = this.value;
}
</script>

{% endblock %}
