{% extends 'base.html' %}
{% block title %}工程目录{% endblock title %}
{% block styles %}
    {{ super() }}
    <!-- url_for函数，加载静态文件-->
    <link href="{{ url_for('static', filename='css/project.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/demo.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" >

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="./static/bootstrap/css/bootstrap.min.css"/>

    <script src="./static/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="./static/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
{% endblock styles %}
{% block navli %}
    <ul class="nav navbar-nav navbar-right">
        {% if session.is_login %}
            <li><a href="/">您好！{{ session.name }}</a></li>
            <li><a href="/logout">退出</a><li>
            {% else %}
            <li><a href="/">您好！</a></li>
            <li class="active"><a href="#">登录</a></li>
            <li><a href="/register">注册</a></li>
        {% endif %}
    </ul>


{% endblock navli %}
{% block content %}
    <div class="container-fluid">

<!--            <div class="row">-->
                <div class="fixLeft" id="menulist">
                    <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
                        <li class="active">
                            <a href="#">
                                <i class="glyphicon glyphicon-th-large"></i>
                                首页演示demo
                            </a>
                        </li>
                        <li>
                            <a href="http://localhost:6006/" target="_blank">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                监控大屏
                            </a>
                        </li>
                        <li>
                            <a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse">
                                <i class="glyphicon glyphicon-cog"></i>
                                配置文件
                                <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
<!--                                <li>-->
<!--                                    <a href="#systemSetting1" class="nav-header collapsed" data-toggle="collapse">-->
<!--                                        <i class="glyphicon glyphicon-cog"></i>-->
<!--                                        &nbsp配置数据集-->
<!--                                        <span class="pull-right glyphicon glyphicon-chevron-down"></span>-->
<!--                                    </a>-->
<!--&lt;!&ndash;                                    <ul id="systemSetting1" class="nav nav-list collapse thirdmenu" style="height: 0px;">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <li><a href="#"><i class="glyphicon glyphicon-a"></i>豹纹</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <li><a href="#"><i class="glyphicon glyphicon-th-b"></i>点纹</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <li><a href="#"><i class="glyphicon glyphicon-c"></i>条纹</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </ul>&ndash;&gt;-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#systemSetting1" class="nav-header collapsed" data-toggle="collapse">-->
<!--                                        <i class="glyphicon glyphicon-cog"></i>-->
<!--                                        配置模型结构-->
<!--                                        <span class="pull-right glyphicon glyphicon-chevron-down"></span>-->
<!--                                    </a>-->
<!--                                </li>-->
                                <li>
                                    <a href="#contentConfig">
                                        <i class="glyphicon glyphicon-th-list"></i>配置数据集
                                    </a>
                                </li>
                                <li>
                                    <a href="#contentConfig">
                                        <i class="glyphicon glyphicon-th-list"></i>配置模型结构
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#contentDistribution">
                                <i class="glyphicon glyphicon-send"></i>
                                分发预训练模型
                            </a>
                        </li>
                        <li>
                            <a href="#contentUpload">
                                <i class="glyphicon glyphicon-cloud-upload"></i>
                                上传
                            </a>
                        </li>
                        <li>
                            <a href="#contentDetection">
                                <i class="glyphicon glyphicon-check"></i>
                                检测
                            </a>
                        </li>
                        <li>
                            <a href="#reverse" class="nav-header collapsed" data-toggle="collapse">
                                <i class="glyphicon glyphicon-hourglass"></i>
                                逆向工程
                                <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul id="reverse" class="nav nav-list collapse secondmenu" style="height: 0px;">
                                <li>
                                    <a href="#contentReverse">
                                        <i class="glyphicon glyphicon-menu-hamburger"></i>原创方法
                                    </a>
                                </li>
                                <li>
                                    <a href="#contentReverse1">
                                        <i class="glyphicon glyphicon-menu-hamburger"></i>静态精准逆向
                                    </a>
                                </li>
                                <li>
                                    <a href="#contentReverse2">
                                        <i class="glyphicon glyphicon-menu-hamburger"></i>动态后门逆向
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#contentRepair">
                                <i class="glyphicon glyphicon-wrench"></i>
                                修复性训练
                            </a>
                        </li>
                        <li>
                            <a href="#contentCluster">
                                <i class="glyphicon glyphicon-knight"></i>
                                安全聚类
                            </a>
                        </li>
                    </ul>
                </div>
<!--				<div class="col-sm-10" id="right"></div>-->
<!--				<div class="col-sm-10" id="right"></div>-->
                <div class="col-md-11 col-md-push-1">
                    <div class="jumbotron" id="contentDemo">
                      <h1>你好!</h1>
                      <p>这是一款基于联邦学习场景下的后门攻击检测平台</p>
                      <p><a class="btn btn-primary btn-lg" href="#" role="button">了解更多</a></p>
                    </div>
                </div>



<!--            </div>-->
    </div>

    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    </div>
<!--     <form action="/project" method="post" class="form-project">
        <div class="form-group">
            <label for="train_database">数据集</label>
            <select class="form-control" id="train_database" name="database" placeholder="选择数据集" autofocus required>
                <option>mnist</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <div class="form-group">
            <label for="train_model">模型结构</label>
            <select class="form-control" id="train_model" name="model">
                <option>simplenet</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <div class="form-group">
            <button type="reset" class="btn btn-default pull-left">重置</button>
            <button type="submit" class="btn btn-primary pull-right">配置完成</button>
        </div>
    </form> -->

    <div class="container-fluid fold-project">
        <div class="accordion" id="accordion2">
<!--            <div class="accordion-group">-->
<!--                <div class="accordion-heading">-->
<!--                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">-->
<!--                        <h1 style="text-align:center">配置文件</h1>-->
<!--                    </a>-->
<!--                </div>-->
            <div class="row">
                <div id="contentConfig" class="col-md-11 col-md-push-1">
                    <h1>配置文件</h1>
                    <hr style=" height:10px;border:none;border-top:10px groove skyblue;"/>
                    <!--配置参数-->
                    <form action="/project" method="post" class="form-project">
                        <div class="form-group">
                            <label for="train_database" style="text-align:center">数据集</label>
                            <select class="form-control" id="train_database" name="database" placeholder="选择数据集" autofocus required>
                                <option>mnist</option>
                                <option>GTSRB</option>
                                <option>PUBFIG</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class="form-group" style="text-align:center">
                            <label for="train_model">模型结构</label>
                            <select class="form-control" id="train_model" name="model">
                                <option>simplenet</option>
                                <option>6Conv+2Dense</option>
                                <option>vgg16</option>
                                <option>4</option>
                             </select>
                        </div>
                        <div class="form-group">
                            <input name="m" value=1 hidden>
                        </div>
                        <div class="form-group">
                            <button type="reset" class="btn btn-default pull-left">重置</button>
                            <button type="submit" class="btn btn-primary pull-right">配置完成</button>
                            <br></br>
                        </div>
                    </form>
                </div>
<!--            </div>-->
            </div>




            <!--分发预训练模型-->
<!--            <div class="accordion-group">-->
<!--                <div class="accordion-heading">-->
<!--                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">-->
<!--                        <h1 style="text-align:center">分发预训练模型</h1>-->
<!--                    </a>-->
<!--                </div>-->
            <div class="row">
                <div  id="contentDistribution" class="col-md-11 col-md-push-1">
                    <h1 >分发预训练模型</h1>
                    <hr style=" height:10px;border:none;border-top:10px groove skyblue;"/>
                    <div class="form-group">
                        <br></br>
                        <font face="黑体" size="3">配置的数据集：{{flask_database}}|模型结构：{{flask_model}}</font>
                        <form action="/project" method="post" class="form-project">

                            <div class="form-group">
                                <label for="train_pretrain">{{flask_pre}}是否重新进行训练：</label>
                                    <select class="form-control" id="train_pretrain" name="pretrain" placeholder="请选择" autofocus required>
                                        <option>是</option>
                                        <option>否</option>
                                    </select>
                            </div>
<!--                             <div class="form-group">
                                <label for="train_model">模型结构</label>
                                    <select class="form-control" id="train_model" name="model">
                                        <option>simplenet</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                            </div> -->
                            <div class="form-group">
                                <input name="database" style="width: 310px;height:30px;" value="{{flask_database}}" hidden>
                                <input name="model" style="width: 310px;height:30px;" value="{{flask_model}}" hidden>
                                <input name="m" style="width: 310px;height:30px;" value="2" hidden>
                            </div>
                            <div class="form-group">
                                <button type="reset" class="btn btn-default pull-left">重置</button>
                                <button type="submit" class="btn btn-primary pull-right">开始预训练</button>
                            </div>
                            <br></br>
                        </form>
                    </div>
                    <div class="form-group">
                        <font face="黑体" size="3">模型正确率：{{flask_acc}}%|模型权重下载：</font>{{flask_model_download}}
                        <form action="/download1" method="post" class="form-project">
                        <div class="form-group">
                                    <input name="database"  value="{{flask_database}}" hidden>
                                    <input name="model"  value="{{flask_model}}" hidden>
                                </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary pull-right">下载</button>
                        </div>
                        </form>
<!--                    </div>-->
                    </div>
<!--            </div>-->
            </div>




<!--            上传-->
                <div class="row">
<!--                    <div class="accordion-heading col-md-10 col-md-push-2" id="contentUpload">-->
<!--                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">-->
<!--                            <h1 style="text-align:center">上传</h1>-->
<!--                        </a>-->
<!--                    </div>-->
                    <div id="contentUpload" class="col-md-11 col-md-push-1">
                        <h1 >上传</h1>
                        <hr style=" height:10px;border:none;border-top:10px groove skyblue;"/>
                        <div align="center">
                            <!-- 防御内容 -->
                            <form id="upload-form" action="uploadajax" method="post" enctype="multipart/form-data" >
                                　　　<input type="file" id="upload" name="upload" /> <br />
                                　　　<input type="submit" value="确定上传" />
                            </form>
                        </div>
                    </div>
                </div>



<!--       检测     -->
                <div class="row">
                <div class="col-md-11 col-md-push-1" id="contentDetection">
                    <h1>检测</h1>
                    <hr style=" height:10px;border:none;border-top:10px groove skyblue;"/>
                        <div class="form-group">
                            <br></br>
                            <font face="黑体" size="3">配置的数据集：{{flask_database}}|模型结构：{{flask_model}}</font>
                            <form action="/project" method="post" class="form-project">

                                <div class="form-group">
                                    <label for="train_pretrain">轮数：<span id="check_epo_num"></span></label>
                                        <div class="slidecontainer">
                                            <input type="range" min="1" max="50" value="10" class="slider" id="check_epo" name="check_epo">
                                        </div>
                                    <label for="train_pretrain">优化率：<span id="check_lr_num"></span></label>
                                        <div class="slidecontainer">
                                            <input type="text" value="0.1" οnkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" id="check_lr" name="check_lr">
                                        </div>
                                </div>
                                <div class="form-group">
                                    <input name="database" style="width: 310px;height:30px;" value="{{flask_database}}" hidden>
                                    <input name="model" style="width: 310px;height:30px;" value="{{flask_model}}" hidden>
                                    <input name="m" style="width: 310px;height:30px;" value="3" hidden>
                                </div>
                                <div class="form-group">
                                    <button type="reset" class="btn btn-default pull-left">重置</button>
                                    <button type="submit" class="btn btn-primary pull-right">开始检测</button>
                                </div>
                                <br></br>
                            </form>
                        </div>

                        <div class="form-group">
                            <font face="黑体" size="3">检测结果：</font>
                            {{result1_text}}
                            <iframe name="content_frame" marginwidth=0 marginheight=0 width=100% height=1000 src="/result1" frameborder=0></iframe>
                        </form>
                        </div>
                    </div>
                </div>

<!--&lt;!&ndash;检测&ndash;&gt;-->
<!--            <div class="accordion-group col-md-10" id="contentDetection">-->
<!--&lt;!&ndash;                <div class="accordion-heading">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">&ndash;&gt;-->
<!--&lt;!&ndash;                        <h1 style="text-align:center">检测</h1>&ndash;&gt;-->
<!--&lt;!&ndash;                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--                <div id="collapseFour" class="accordion-body collapse">-->
<!--                    <div class="accordion-inner form-group">-->
<!--                        <br></br>-->
<!--                        <font face="黑体" size="3">配置的数据集：{{flask_database}}|模型结构：{{flask_model}}</font>-->
<!--                        <form action="/project" method="post" class="form-project">     -->
<!--                            -->
<!--                            <div class="form-group">-->
<!--                                <label for="train_pretrain">轮数：<span id="check_epo_num"></span></label>-->
<!--                                    <div class="slidecontainer">-->
<!--                                        <input type="range" min="1" max="50" value="10" class="slider" id="check_epo" name="check_epo">-->
<!--                                    </div>-->
<!--                                <label for="train_pretrain">优化率：<span id="check_lr_num"></label>-->
<!--                                    <div class="slidecontainer">-->
<!--                                        <input type="text" value="0.1" οnkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" id="check_lr" name="check_lr">-->
<!--                                    </div>-->
<!--                            </div>-->
<!--&lt;!&ndash;                             <div class="form-group">-->
<!--                                <label for="train_model">模型结构</label>-->
<!--                                    <select class="form-control" id="train_model" name="model">-->
<!--                                        <option>simplenet</option>-->
<!--                                        <option>2</option>-->
<!--                                        <option>3</option>-->
<!--                                        <option>4</option>-->
<!--                                    </select>-->
<!--                            </div> &ndash;&gt;-->
<!--                            <div class="form-group">-->
<!--                                <input name="database" style="width: 310px;height:30px;" value="{{flask_database}}" hidden>-->
<!--                                <input name="model" style="width: 310px;height:30px;" value="{{flask_model}}" hidden>-->
<!--                                <input name="m" style="width: 310px;height:30px;" value="3" hidden>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <button type="reset" class="btn btn-default pull-left">重置</button>-->
<!--                                <button type="submit" class="btn btn-primary pull-right">开始检测</button>-->
<!--                            </div>-->
<!--                            <br></br>-->
<!--                        </form>-->
<!--                    </div>-->

<!--                    <div class="accordion-inner form-group">-->
<!--                        <font face="黑体" size="3">检测结果：</font>-->
<!--                        {{result1_text}}-->
<!--                        <iframe name="content_frame" marginwidth=0 marginheight=0 width=100% height=1000 src="/result1" frameborder=0></iframe>-->
<!--                    </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--定位-->
            <div class="row">
<!--                <div class="accordion-heading">-->
<!--                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">-->
<!--                        <h1 style="text-align:center">定位</h1>-->
<!--                    </a>-->
<!--                </div>-->
                <div id="contentLocation" class="col-md-11 col-md-push-1">
                    <h1>定位</h1>
                    <hr style=" height:10px;border:none;border-top:10px groove skyblue;"/>
                    <div class="form-group">
                        <br></br>
                        <font face="黑体" size="3">配置的数据集：{{flask_database}}|模型结构：{{flask_model}}</font>
                        <form action="/project" method="post" class="form-project">     
                            
                            <div class="form-group">
                                <label for="train_pretrain">请选择定位使用的图片数量：<span id="re_pic_num"></span></label>
                                    <div class="slidecontainer">
                                        <input type="range" min="1" max="1000" value="10" class="slider" id="re_pic" name="re_pic">
                                    </div>
                                <label for="train_pretrain">请输入要定位的目标标签号：<span id="re_target_num"></label>
                                    <div class="slidecontainer">
                                        <input type="number" value="0"  id="re_target" name="re_target">
                                    </div>
                            </div>
<!--                             <div class="form-group">
                                <label for="train_model">模型结构</label>
                                    <select class="form-control" id="train_model" name="model">
                                        <option>simplenet</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                            </div> -->
                            <div class="form-group">
                                <input name="database" style="width: 310px;height:30px;" value="{{flask_database}}" hidden>
                                <input name="model" style="width: 310px;height:30px;" value="{{flask_model}}" hidden>
                                <input name="m" style="width: 310px;height:30px;" value="4" hidden>
                            </div>
                            <div class="form-group">
                                <button type="reset" class="btn btn-default pull-left">重置</button>
                                <button type="submit" class="btn btn-primary pull-right">开始定位</button>
                            </div>
                            <br></br>
                        </form>
                    </div>

                    <div class="accordion-inner form-group">
                        <font face="黑体" size="3">定位结果：</font>
                        <iframe name="content_frame" marginwidth=0 marginheight=0 width=100% height=1000 src="/result2" frameborder=0></iframe>
                    </div>
                </div>
            </div>

<!--逆向-->
            <div class="row">
<!--                <div class="accordion-heading">-->
<!--                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">-->
<!--                        <h1 style="text-align:center">逆向</h1>-->
<!--                    </a>-->
<!--                </div>-->
                <div  class="col-md-11 col-md-push-1">
                    <h1>逆向</h1>
                    <hr style=" height:10px;border:none;border-top:10px groove skyblue;"/>
                    <div id="contentReverse">
                       <div class="form-group">
                            <h3>原创方法</h3>
                            <hr style=" height:5px;border:none;border-top:5px ridge green;"/>
                            <br></br>
                            <font face="黑体" size="3">配置的数据集：{{flask_database}}|模型结构：{{flask_model}}</font>
                            <form action="/project" method="post" class="form-project">

                                <div class="form-group">
                                    <label for="train_pretrain">请输入要逆向的目标标签号：<span id="re_target_num"></label>
                                        <div class="slidecontainer">
                                            <input type="number" value="0"  id="re_target" name="re_target">
                                        </div>
                                    <label for="train_pretrain">优化率：<span id="re_lr_num"></label>
                                        <div class="slidecontainer">
                                            <input type="text" value="0.1" οnkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" id="re_lr" name="re_lr">
                                        </div>
                                </div>
    <!--                             <div class="form-group">
                                    <label for="train_model">模型结构</label>
                                        <select class="form-control" id="train_model" name="model">
                                            <option>simplenet</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                </div> -->
                                <div class="form-group">
                                    <input name="database" style="width: 310px;height:30px;" value="{{flask_database}}" hidden>
                                    <input name="model" style="width: 310px;height:30px;" value="{{flask_model}}" hidden>
                                    <input name="m" style="width: 310px;height:30px;" value="5" hidden>
                                </div>
                                <div class="form-group">
                                    <button type="reset" class="btn btn-default pull-left">重置</button>
                                    <button type="submit" class="btn btn-primary pull-right">开始逆向</button>
                                </div>
                                <br></br>
                            </form>
                        </div>

                        <div class="form-group">
                            <font face="黑体" size="3">逆向结果：</font>
                            <iframe name="content_frame" marginwidth=0 marginheight=0 width=100% height=1000 src="/result3" frameborder=0></iframe>
                        </div>
                    </div>
                    <div id="contentReverse1">
                       <div class="form-group">
                            <h3>静态精准逆向(Neaural Cleanse)</h3>
                            <hr style=" height:5px;border:none;border-top:5px ridge green;"/>
                            <br></br>
                            <font face="黑体" size="3">配置的数据集：{{flask_database}}|模型结构：{{flask_model}}</font>
                            <form action="/project" method="post" class="form-project">
                                <div class="form-group">
                                    <label for="train_pretrain">请选择要训练的轮数：<span id="nc_epo_num"></span></label>
                                        <div class="slidecontainer">
                                            <input type="range" min="1" max="100" value="1" class="slider" id="nc_epo" name="nc_epo">
                                        </div>
                                    <label for="train_pretrain">请输入要设定的学习率：<span id="nc_lr_num"></span></label>
                                        <div class="slidecontainer">
                                            <input type="text" value="0.01" οnkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" id="nc_lr" name="nc_lr">
                                        </div>
                                </div>

                                <div class="form-group">
                                    <input name="database" style="width: 310px;height:30px;" value="{{flask_database}}" hidden>
                                    <input name="model" style="width: 310px;height:30px;" value="{{flask_model}}" hidden>
                                    <input name="m" style="width: 310px;height:30px;" value="8" hidden>
                                </div>
                                <div class="form-group">
                                    <button type="reset" class="btn btn-default pull-left">重置</button>
                                    <button type="submit" class="btn btn-primary pull-right">开始逆向</button>
                                </div>
                                <br></br>
                            </form>
                        </div>

<!--                        <div class="form-group">-->
<!--                            <font face="黑体" size="3">嫌疑程度最高标签的逆向触发器结果：</font>-->
<!--                            <iframe name="content_frame" marginwidth=0 marginheight=0 width=100% height=500 src="/resultNCtrigger" frameborder=0></iframe>-->
<!--                        </div>-->
                        <div class="form-group">
                            <font face="黑体" size="3">嫌疑程度最高标签的逆向触发器结果：</font>
                            <iframe name="content_frame" marginwidth=0 marginheight=0 width=100% height=500 src="/resultNCmask" frameborder=0></iframe>
                        </div>
                        <div class="form-group">
                            <font face="黑体" size="3">各标签L1范数柱状图：</font>
                            <iframe name="content_frame" marginwidth=0 marginheight=0 width=100% height=500 src="/resultNCnorm" frameborder=0></iframe>
                        </div>
                    </div>
                    <!---->
                    <div id="contentReverse2">
                       <div class="form-group">
                            <h3>动态后门防御(MESA)</h3>
                            <hr style=" height:5px;border:none;border-top:5px ridge green;"/>
                            <br></br>
                            <font face="黑体" size="3">配置的数据集：{{flask_database}}|模型结构：{{flask_model}}</font>
                            <form action="/project" method="post" class="form-project">
                                <div class="form-group">
                                    <label for="train_pretrain">请选择要训练的轮数：<span id="mesa_epo_num"></span></label>
                                        <div class="slidecontainer">
                                            <input type="range" min="1" max="50" value="10" class="slider" id="mesa_epo" name="mesa_epo">
                                        </div>
                                    <label for="train_pretrain">请输入要设定的超参数alpha：<span id="mesa_alpha_num"></span></label>
                                        <div class="slidecontainer">
                                            <input type="text" value="0.1" οnkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" id="mesa_alpha" name="mesa_alpha">
                                        </div>
                                    <label for="train_pretrain">请输入要设定的超参数beta：<span id="mesa_beta_num"></span></label>
                                        <div class="slidecontainer">
                                            <input type="text" value="0.8" οnkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" id="mesa_beta" name="mesa_beta">
                                        </div>
                                </div>

                                <div class="form-group">
                                    <input name="database" style="width: 310px;height:30px;" value="{{flask_database}}" hidden>
                                    <input name="model" style="width: 310px;height:30px;" value="{{flask_model}}" hidden>
                                    <input name="m" style="width: 310px;height:30px;" value="9" hidden>
                                </div>
                                <div class="form-group">
                                    <button type="reset" class="btn btn-default pull-left">重置</button>
                                    <button type="submit" class="btn btn-primary pull-right">开始逆向</button>
                                </div>
                                <br></br>
                            </form>
                        </div>

                        <div class="form-group">
                            <font face="黑体" size="3">嫌疑程度最高标签的逆向触发器结果：</font>
                            <iframe name="content_frame" marginwidth=0 marginheight=0 width=100% height=500 src="/resultMESAtrigger" frameborder=0></iframe>
                        </div>
                        <div class="form-group">
                            <font face="黑体" size="3">各标签ASR柱状图：</font>
                            <iframe name="content_frame" marginwidth=0 marginheight=0 width=100% height=500 src="/resultMESAASR" frameborder=0></iframe>
                        </div>
                    </div>

                </div>
            </div>

<!--修复性训练-->
            <div class="row">
<!--                <div class="accordion-heading">-->
<!--                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">-->
<!--                        <h1 style="text-align:center">修复性训练</h1>-->
<!--                    </a>-->
<!--                </div>-->
                <div id="contentRepair" class="col-md-11 col-md-push-1">
                    <h1>修复性训练</h1>
                    <hr style=" height:10px;border:none;border-top:10px groove skyblue;"/>
                    <div class="form-group">
                        <br></br>
                        <font face="黑体" size="3">配置的数据集：{{flask_database}}|模型结构：{{flask_model}}</font>
                        <form action="/project" method="post" class="form-project">     
                            
                            <div class="form-group">
                                <label for="train_pretrain">训练轮数：<span id="re_target_num"></label>
                                    <div class="slidecontainer">
                                        <input type="number" value="0"  id="re_target" name="re_target">
                                    </div>
                                <label for="train_pretrain">优化率：<span id="re_lr_num"></label>
                                    <div class="slidecontainer">
                                        <input type="text" value="0.1" οnkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" id="re_lr" name="re_lr">
                                    </div>
                            </div>
<!--                             <div class="form-group">
                                <label for="train_model">模型结构</label>
                                    <select class="form-control" id="train_model" name="model">
                                        <option>simplenet</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                            </div> -->
                            <div class="form-group">
                                <input name="database" style="width: 310px;height:30px;" value="{{flask_database}}" hidden>
                                <input name="model" style="width: 310px;height:30px;" value="{{flask_model}}" hidden>
                                <input name="m" style="width: 310px;height:30px;" value="6" hidden>
                            </div>
                            <div class="form-group">
                                <button type="reset" class="btn btn-default pull-left">重置</button>
                                <button type="submit" class="btn btn-primary pull-right">开始训练</button>
                            </div>
                            <br></br>
                        </form>
                    </div>

                    <div class="form-group">
                        <font face="黑体" size="3">逆向结果：</font>
                        <iframe name="content_frame" marginwidth=0 marginheight=0 width=100% height=1000 src="/result3" frameborder=0></iframe>
                    </form>





                    </div>
                </div>
            </div>

<!--            安全聚类-->
            <div class="row">
<!--                <div class="accordion-heading">-->
<!--                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">-->
<!--                        <h1 style="text-align:center">安全聚类</h1>-->
<!--                    </a>-->
<!--                </div>-->
                <div id="contentCluster" class="col-md-11 col-md-push-1">
                    <h1>安全聚类</h1>
                    <hr style=" height:10px;border:none;border-top:10px groove skyblue;"/>
                    <div class="form-group">
                        <br></br>
                        <font face="黑体" size="3">配置的数据集：{{flask_database}}|模型结构：{{flask_model}}</font>
                        <form action="/project" method="post" class="form-project">     
                            
                            <div class="form-group">
                                <label for="train_pretrain">未知模型数：<span id="re_target_num"></label>
                                    <div class="slidecontainer">
                                        <input type="number" value="0"  id="re_target" name="re_target">
                                    </div>
                                <label for="train_pretrain">总模型数：<span id="re_lr_num"></label>
                                    <div class="slidecontainer">
                                        <input type="text" value="0.1" οnkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" id="re_lr" name="re_lr">
                                    </div>
                            </div>
<!--                             <div class="form-group">
                                <label for="train_model">模型结构</label>
                                    <select class="form-control" id="train_model" name="model">
                                        <option>simplenet</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                            </div> -->
                            <div class="form-group">
                                <input name="database" style="width: 310px;height:30px;" value="{{flask_database}}" hidden>
                                <input name="model" style="width: 310px;height:30px;" value="{{flask_model}}" hidden>
                                <input name="m" style="width: 310px;height:30px;" value="7" hidden>
                            </div>
                            <div class="form-group">
                                <button type="reset" class="btn btn-default pull-left">重置</button>
                                <button type="submit" class="btn btn-primary pull-right">开始聚类</button>
                            </div>
                            <br></br>
                        </form>
                    </div>

                    <div class="form-group">
                        <font face="黑体" size="3">逆向结果：</font>
                        <iframe name="content_frame" marginwidth=0 marginheight=0 width=100% height=1000 src="/result3" frameborder=0></iframe>
                    </form>





                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<script>
var check_epo = document.getElementById("check_epo");
var check_epo_num = document.getElementById("check_epo_num");
check_epo_num.innerHTML = check_epo.value;

check_epo.oninput = function() {
  check_epo_num.innerHTML = this.value;
}

var check_lr = document.getElementById("check_lr");
var check_lr_num = document.getElementById("check_lr_num");
check_lr_num.innerHTML = check_lr.value;

check_lr.oninput = function() {
  check_lr_num.innerHTML = this.value;
}

<!--var re_pico = document.getElementById("re_pic");-->
var re_pic = document.getElementById("re_pic");
var re_pic_num = document.getElementById("re_pic_num");
re_pic_num.innerHTML = re_pic.value;

re_pic.oninput = function() {
  re_pic_num.innerHTML = this.value;
}

var re_target = document.getElementById("re_target");
var re_target_num = document.getElementById("re_target_num");
re_target_num.innerHTML = re_target.value;

re_target.oninput = function() {
  re_target_num.innerHTML = this.value;
}

var nc_epo = document.getElementById("nc_epo");
var nc_epo_num = document.getElementById("nc_epo_num");
nc_epo_num.innerHTML = nc_epo.value;

nc_epo.oninput = function() {
  nc_epo_num.innerHTML = this.value;
}

var nc_lr = document.getElementById("nc_lr");
var nc_lr_num = document.getElementById("nc_lr_num");
nc_lr_num.innerHTML = nc_lr.value;

nc_lr.oninput = function() {
  nc_lr_num.innerHTML = this.value;
}

var mesa_epo = document.getElementById("mesa_epo");
var mesa_epo_num = document.getElementById("mesa_epo_num");
mesa_epo_num.innerHTML = mesa_epo.value;

mesa_epo.oninput = function() {
  mesa_epo_num.innerHTML = this.value;
}

var mesa_alpha = document.getElementById("mesa_alpha");
var mesa_alpha_num = document.getElementById("mesa_alpha_num");
mesa_alpha_num.innerHTML = mesa_alpha.value;

mesa_alpha.oninput = function() {
  mesa_alpha_num.innerHTML = this.value;
}

var mesa_beta = document.getElementById("mesa_beta");
var mesa_beta_num = document.getElementById("mesa_beta_num");
mesa_beta_num.innerHTML = mesa_beta.value;

mesa_beta.oninput = function() {
  mesa_beta_num.innerHTML = this.value;
}

var re_lr = document.getElementById("re_lr");
var re_lr_num = document.getElementById("re_lr_num");
re_lr_num.innerHTML = re_lr.value;

re_lr.oninput = function() {
  re_lr_num.innerHTML = this.value;
}
</script>

{% endblock %}
