<!DOCTYPE html>
<html>
<head>
</head>
<body>

激活值检测结果：<br>
LLX似然系数为{{LLX}}，正常模型参考值：45.0766785，推测为{{isLLXback}}<br>
KDE似然系数为{{KDE}}，正常模型参考值：0.0334302推测为{{isKDEback}}<br>
<br>
<!--
静态检测结果：<br>
发现后门，推测类型为Trigger Square<br>

<br>
后门展示如下：<br>
<img src="{{ url_for('static', filename='backdoor/Trigger_Square.jpg') }}" alt="Trigger_Square.png" width="100" height="100"><br>
Trigger Square<br>
<br>
-->
<iframe name="content_frame" marginwidth=0 marginheight=0 width=100% height=1000 src="/static_result" frameborder=0></iframe>

响应结果：<br>
已切断识别服务<br>


</body>
</html>