<!DOCTYPE html>
        <html>
        <head>
            <meta charset="utf-8">
            <title>The degree of trust of the model in the aggregation</title>
            <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
        </head>
        <body>
            <div id="main" style="width: 800px;height:600px;"></div>
            <script type="text/javascript">
                var chartDom = document.getElementById('main');
        var myChart = echarts.init(chartDom);
        var option;

        option = {
          title: {
            text: 'Model trust ratio',
            subtext: 'present',
            left: 'center'
          },
          tooltip: {
            trigger: 'item'
          },
          legend: {
            orient: 'vertical',
            left: 'left'
          },
          series: [
            {
              name: 'Access From',
              type: 'pie',
              radius: '50%',
              data: [ 
        	{ value: 1.000000, name: 'wrong2.1.tar' },
	{ value: 1.000000, name: 'wrong2.2.tar' },
	{ value: 1.000000, name: 'wrong2.3.tar' },
	{ value: 1.000000, name: 'wrong2.4.tar' },
	{ value: 1.000000, name: 'wrong2.5.tar' },
	{ value: 1.000000, name: 'wrong2.6.tar' },
	{ value: 1.000000, name: 'wrong2.7.tar' },
	{ value: 1.000000, name: 'wrong2.8.tar' },
	{ value: 1.000000, name: 'wrong2.9.tar' },
	{ value: 1.000000, name: 'wrong2.tar' },
	{ value: 0.000000, name: 'wrong4.tar' },
	{ value: 0.000000, name: 'wrong5.tar' },
	{ value: 0.000000, name: 'wrong6.tar' },
	{ value: 0.000000, name: 'wrong7.tar' },

              ],
              emphasis: {
                itemStyle: {
                  shadowBlur: 10,
                  shadowOffsetX: 0,
                  shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
              }
            }
          ]
        };
        option && myChart.setOption(option);
            </script>
        </body>
        </html>