<!--
基于集成和优化的广泛防御覆盖率
本作品针对不同应用场景的多种攻击手段挑选防御策略，基本实现主流后门攻击类型的防御全覆盖，集成数十种最先进的防御方案，基本可以实现不受后门触发器大小、图案，数据集标签数量，模型规模的复合型全方位检测。同时通过攻防实验对比防御后模型工作状态，得到每一种攻击最佳的防御方案，并对每一种防御方案设计多种模型、数据集信息条件应用模式，实现在现实复杂多样环境下成功有效防御，并构建映射响应关系用于后续调用。针对过去的方法，我们并没有选择直接照搬，而是分析方法本身的现实可行性和时代局限性，结合后门攻防研究现状，对部分方法进行了算法上的优化，降低时间成本的同时提高检测效率和精确度。这使得本作品成为一款适用于大多数有限信息条件和不同应用领域的联邦学习后门攻击检测系统。

基于攻防特性的构筑后门检测体系
本作品模拟传统网络攻防的设计方式，在扩充传统后门检测方法的同时引入了比较成熟的监控大屏和态势感知体系。增强了用户体验和实时研判能力，更好的保障联邦环境中的模型安全。构建了一套“安全预训练分发数据集-多角度未知模型检测-后门威胁画像-后门攻击消除-模型安全聚合-应用态势感知”的全流程防御系统，丰富了联邦学习运作体系。在传统检测方面，集成多种基于模型数据集等信息的检测方案，形成新的黑盒灰盒白盒环境下不同精度不同时间效率的三类检测方案，用户可以根据防御任务的时间和精度需求自主选择相应的检测方案。本产品吸收前人经验的同时，也将为今后后门安全体系的完善做贡献。

自研更快更精准后门类型覆盖更广的防御方法
除了集成他人的方法，在开发中我们还基于前人的不足自研了两种不同用途的逆向检测方法，以提高检测效率和逆向精度。神经元的检测和修复因为其高效率经常被用于人脸识别等大规模模型和数据集的检测，但由于其一直存在着防御假设过多、精度不足、正常数据集正确率下降的问题，这在自动驾驶和医疗这类有高精度需求是无法容忍的。所以我们着眼逆向领域。我们发现逆向防御领域过去的方法也存在着受标签数量、后门触发器大小、逆向结果精度限制的情况。为了解决这个问题，我们在传统GAN基础上融入了快速梯度技术和我们设计的定位技术，成功突破了标签数量、后门触发器大小的限制，提高了后门逆向的速度和精度。我们的实验证明，相比于过去的方法，我们的方法在大部分情况都具有性能上的提升。

实现全模型全数据集覆盖</span><br>
传统的图像识别数据集（如MNIST、CIFAR-10等）作为机器学习效果检验的靶场被大量研究人员进行针对性研究。本产品并不只限于对传统的几个经典数据集进行后门防御，而是将眼光放到更远的通用环境和生产环境。本产品支持torchvision内置的所有数据集和模型的下载和使用，极大地扩充了数据集的使用范围。除此之外，通过我们给出的万能读取脚本，用户可以上传自己的设计的数据集和模型，来实现与现实接轨。通过我们的设计，后门防御不再是一场科研人员的游戏，而将在真实世界发挥作用。
-->

